[Unit]
Description=Web Application Server
ConditionPathExists=/tmp/webapp/server.js
After=network.target

[Service]
Type=simple
User=csye6225
Group=csye6225
WorkingDirectory=/tmp/webapp
Environment=/tmp/webapp/.env
ExecStart=/bin/bash -c 'if [[ -f /tmp/webapp/.env ]]; then /usr/bin/npm start; fi'
Restart=always
RestartSec=3
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=csye6225

[Install]
WantedBy=multi-user.target